# OS
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Environment
.env
.env.*
!.env.example

# Dependencies
/vendor/
/node_modules/

# Compiled assets
/public/hot
/mix-manifest.json

# Laravel cache & logs
/storage/*.key
/storage/logs/*
/storage/framework/*
!/storage/framework/.gitignore
!/storage/framework/cache/.gitignore

# PHPUnit
.phpunit.result.cache

# Laravel Sail
/docker-compose.override.yml

# Homestead
/Homestead.yaml
/Homestead.json

# Debug
npm-debug.log*
yarn-error.log*

# Temporary files
*.log
*.tmp