header{
    border-bottom: 1px solid #e5e7eb;
}
.aside-admin{
    background: #F1F5F9;
    color: #344054;
    border-right: 1px solid #e5e7eb;
    font-size: 16px;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
    .logo{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #e5e7eb;
        img {
            width: 130px;
            object-fit: contain;
        }
    }
    .bg-white\/20 {
        background-color: #edffe4 !important;
        color: #648454;
    }
}

.aside-admin a{
    color:  #475569;
    font-weight: 500;
}
.bg-green-logo{
    background-color: #648454;
}
.svg-view-detail{
    width: 30px;
    display: block;
}

select:focus,
input:focus,
textarea:focus,
button:focus {
    outline: none;
}


